button:focus {
  outline: none;
}

#order-box {
  display: none;
}

h3 {
  margin: 20px 0px;
}

#order-form {
  margin-bottom: 30px;
}

.fixed-span-width {
  width: 90px;
}

.lg-input {
  height: 50px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
}

.toppings-accordion {
}

.toppings-accordion-header {
  box-shadow: 2px 2px 5px #bfbebe;
  height: 50px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #e9ecef;
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: 0.2s;
}

.toppings-accordion-header:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 3px 3px 5px #8e8d8d;
}

.toppings-accordion-body {
  display: none;
  margin-bottom: 20px;
}

.radio-with-height {
  height: 40px;
}

.toppings-label {
  line-height: 40px;
  font-size: 1.25rem;
  padding-left: 10px;
  color: #495057;
}

.toppings-label:hover, .radio-with-height:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

.alert {
  display: none;
  position: relative;
  margin: -80px auto 0px auto;
  z-index: 1;
}

#orders-placed {
  display: none;
  text-align: center;
}

.order-tile {
  margin: 0 auto 20px auto;
  width: 80%;
  max-width: 300px;
  height: 200px;
  box-shadow: 0px 5px 10px #4e4e4e;
  border-radius: 4px;
}

.order-tile:hover {
  cursor: pointer;
  box-shadow: 0px 5px 20px #4e4e4e;
}

.order-image {
  margin: 0 auto;
  border: 1px solid #e9ecef;
}

.order-image img {
  width: 300px;
}

.order-name {
  width: 100%;
  text-align: center;
  padding-top: 12px;
  background-color: lightgray;
  height: 47px;
  border-radius: 0px 0px 4px 4px;
}

.order-details {
  margin-top: 10px;
  display: none;
  text-align: left;
  border: 1px solid #e9ecef;
  padding: 10px 5px;
}

.order-details-header {
  border-bottom: 2px solid #4e4e4e;
}
